{
	"engine": "PDO",
	"useReplication": true,
	"readDB":
	{
		"hostname": "localhost",
		"database": "user_directory",
		"username": "user_directory",
		"password": "123Abc-"
	},
	"writeDB":
	{
		"hostname": "localhost",
		"database": "user_directory",
		"username": "user_directory",
		"password": "123Abc-"
	}
}