array (
  'read db' => 
  array (
    'host' => 'localhost',
    'db' => 'user_directory',
    'user' => 'user_directory',
    'pass' => '123Abc-',
  ),
  'write db' => 
  array (
    'host' => 'localhost',
    'db' => 'user_directory',
    'user' => 'user_directory',
    'pass' => '123Abc-',
  ),
)