<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="true"
         bootstrap="tests/bootstrap.inc.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
	<testsuites>
		<testsuite name="User Directory Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./lib</directory>
            <exclude>
                <directory>./src/Views</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="web/tests" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-html" target="web/docs/usecases.html" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>

